{% extends 'base.html' %}

{% block title %}Lista{% endblock  %}

{% block content %}

<div class="offset-1 col-10 list-div">
    <h1>Adicione a sua nova tarefa</h1>

    <form method="POST">
        {% csrf_token %}<!-- token de seguranca de form do django para post-->

        {{form.as_p}}<!--imprimi os campos do forms (definidos no arquivos forms.py) envolvidos em paragrafos-->
        
        <input type="submit" class="btn btn-success" value="Criar Tarefa">
    </form>

</div>

{% endblock  %}
