{% extends 'base.html' %}

{% block title %}Lista{% endblock  %}

{% block content %}

<div class="offset-1 col-10 list-div">
    <h1>Lista de Tarefas</h1>
    <a id="add-link" href="newtask/">
        <div class="col-2 add-div">
            <i class="fas fa-plus"></i> Adicionar tarefa 
        </div>
    </a>
    <div class="col-9 search-div">
        <input  class="form-control" type="text" id="search" name="search" placeholder="Digite o nome da tarefa para buscar">
        <i class="fas fa-search"></i>
    </div>

    {% if messages %} <!--verifica se ha messagens passadas nessa url -->
        <ul class="messages"><!--classe exclusiva do django para tratar as messagens vindas da view -->
            {% for message in messages %}<!--corre todas as menssages se tiver mais de uma -->
                {% if message.tags == 'success' %}
                    <li  class="alert alert-success">{{message}}</li> <!--verifica a tag da messagem url -->
                {% else %}
                    <li  class="alert alert-danger">{{message}}</li> <!--verifica a tag da messagem url -->
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}
    <ul>
        {% for task in tasks %}
        <li class="task-item">
            <span><a href="/task/{{ task.id }}">{{ task.title }}</a></span>
            <span><a href="/deletetask/{{task.id}}"><i class="fas fa-trash"></i></a></span>
            <span><a href="/edittask/{{task.id}}"><i class="fas fa-edit"></i></a></span>
        </li>
        {% endfor %}
    </ul>

</div>

{% endblock  %}
